{
    "api": {
        "data_fetcher": {
            "interval": 180,
            "period": 300
        }
    },
    "storage": {
        "database": {
            "mysql": {
                "host": "",
                "user": "",
                "password": "",
                "database": "exchain"
            }
        }
    },
    "strategy": {
        "macd": {
            "period": 120,
            "difference_monotonic_period": 1,
            "difference_period": 1,
            "macd_dispersity": 1
        }
    }
}
