{
    "api": {
        "data_fetcher": {
            "interval": 180,
            "ticks_count": 300
        }
    },
    "storage": {
        "database": {
            "mysql": {
                "host": "",
                "user": "",
                "password": "",
                "database": "exchain"
            }
        }
    },
    "strategy": {
        "macd": {
            "ticks_count": 120,
            "situations": [
                {"fluctuation_domain": null, "monotonic_ticks_count": 1}
            ]
        }
    }
}
