GRANT ALL ON `exchain`.* TO ''@'%' IDENTIFIED BY '';
GRANT SELECT ON `exchain`.* TO ''@'%' IDENTIFIED BY '';
FLUSH PRIVILEGES;

USE `exchain`;

INSERT INTO `users` (`name`) VALUES ('');

INSERT INTO `tickers` (`exchange`, `pair`) VALUES
    ('bitflyer', 'btcfxjpy'),
    ('bitfinex', 'btcusd'),
    ('bitfinex', 'ethusd'),
    ('bitfinex', 'xrpusd'),
    ('bitfinex', 'bchusd'),
    ('bitfinex', 'ltcusd');
